body{
    margin: 0;
}

.content{
    width: 501px;
    margin: 0 auto;
}

.gameField{
    cursor: default;
}

.gameButton{
    width: 80px;
    height: 20px;
    text-align: center;
    cursor: default;
}

.gameButton:hover{
    cursor: pointer;
}